@font-face {
  font-family: "iconfont"; /* Project id 3050075 */
  src: url('iconfont.woff2?t=1641951735705') format('woff2'),
       url('iconfont.woff?t=1641951735705') format('woff'),
       url('iconfont.ttf?t=1641951735705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e620";
}

.icon-shanchu1:before {
  content: "\e609";
}

.icon-chacha:before {
  content: "\e611";
}

.icon-sousuo1:before {
  content: "\e752";
}

.icon-shang:before {
  content: "\e6bc";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-dianzan11:before {
  content: "\e61c";
}

.icon-mulu:before {
  content: "\e62f";
}

.icon-xiayizhang:before {
  content: "\e61e";
}

.icon-xiayizhang1:before {
  content: "\e608";
}

.icon-beijing:before {
  content: "\e60e";
}

.icon-icon-test:before {
  content: "\e60b";
}

.icon-wodetuikuan:before {
  content: "\e6d3";
}

.icon-danmu:before {
  content: "\e768";
}

.icon-yuedu:before {
  content: "\e62d";
}

.icon-duxianggeli:before {
  content: "\e6df";
}

.icon-jiangpinliwu:before {
  content: "\e60c";
}

.icon-juanchi:before {
  content: "\e651";
}

.icon-zhe:before {
  content: "\e607";
}

.icon-shenfen:before {
  content: "\e78d";
}

.icon-fangzi:before {
  content: "\e606";
}

.icon-fenxiang:before {
  content: "\e658";
}

.icon-xiazai:before {
  content: "\e659";
}

.icon-liwu:before {
  content: "\e6b0";
}

.icon-19qianbao:before {
  content: "\e605";
}

.icon-gt:before {
  content: "\e610";
}

.icon-xiangzuoxiangyou-copy-copy:before {
  content: "\e602";
}

.icon-arrow-up:before {
  content: "\e604";
}

.icon-left:before {
  content: "\e696";
}

.icon-pinglun-:before {
  content: "\e60a";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-quanzi:before {
  content: "\e603";
}

.icon-wode1:before {
  content: "\e600";
}

.icon-tuijian:before {
  content: "\e61f";
}

.icon-Group:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e614";
}

.icon-wode:before {
  content: "\e625";
}

